<a href="https://colab.research.google.com/github/chowdhurydrive/Demographic_Data_Analyzer/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Connect to Google Drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Read data from file
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/adult.data.csv')

In [ ]:
# Preview the data

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [ ]:
# What is the average age of men?

average_age_men = df.query('sex=="Male"')['age'].mean().round(1)
average_age_men

39.4

In [ ]:
# What is the percentage of people who have a Bachelor's degree?

num_edu_bs = df[df['education']=="Bachelors"]['education'].count()
num_edu = df['education'].count()

pct_bs = round((num_edu_bs/num_edu)*100, 1)

pct_bs

16.4

In [ ]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?


higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]

lower_education = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]

higher_education_rich =  round((higher_education[higher_education['salary'] == '>50K']['education'].count() / higher_education['education'].count())*100,1)
lower_education_rich = round((lower_education[lower_education['salary'] == '>50K']['education'].count() / lower_education['education'].count())*100,1)

higher_education_rich , lower_education_rich

(46.5, 17.4)

In [ ]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

min_work_hours

1

In [ ]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week'] == min_work_hours]

rich_percentage = round(((num_min_workers[num_min_workers['salary'] == '>50K']['hours-per-week'].count()) / num_min_workers['hours-per-week'].count()) * 100,1)

In [ ]:
# What country has the highest percentage of people that earn >50K?

pct_earning_country = df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()

highest_earning_country = pct_earning_country.idxmax()
highest_earning_country_percentage = round(pct_earning_country.max()*100,1)

highest_earning_country, highest_earning_country_percentage

('Iran', 41.9)

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.

top_IN_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].value_counts().idxmax()

top_IN_occupation

'Prof-specialty'